<ion-header>

  <ion-navbar>
    <ion-title>scondpage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <div class="loading-div-style" *ngIf="loading == true">
      <div class="loading-icon-position">
        <ion-icon class="loading-icon-style" ios="md-refresh" md="md-refresh"></ion-icon>
      </div>
    </div>
    <div class="body">
      <button ion-button (click)="infoPageLink()">
        <ion-icon md="md-information"></ion-icon>
      </button>

      <div>
        <div *ngFor="let i of dupa">
          <span>{{i.id}}</span> <span>{{i.title}}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>