<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="head-main">
        <div>
          People
        </div>
        <div class="head-links">
          <button ion-button (click)="homePageLink()">
            <ion-icon ios="ios-home" md="md-home"></ion-icon>
          </button>
          <button ion-button (click)="dupaPageLink()">
            <ion-icon>1</ion-icon>
          </button>
          <button ion-button (click)="thirdPageLink()">
            <ion-icon>2</ion-icon>
          </button>
        </div>
      </div>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <cmp-name (click)="currentPersonChange($event, p)" [currentPerson]="p" *ngFor="let p of list">
    </cmp-name>
  </ion-list>

  <div class="btn-wrapper">
    <button ion-button (click)="sortage($event)">Sort age</button>
    <button ion-button (click)="sortname($event)">Sort name</button>
  </div>

  <div class="happenessWrapper" *ngIf="currentPerson">
    <div class>
      <span class="happeness">Szczęście</span>
      <span class="happeness">{{currentPerson?.name}}</span>
    </div>

    <div class="happenessPointsMain">
      <ion-fab (click)="minus()">
        <button ion-fab>
          <ion-icon class="happenessPoints" ios="ios-remove" md="md-remove">
          </ion-icon>
        </button>
      </ion-fab>
      <span [ngClass]="{'smaller-hpp': currentPerson?.hp > 9 || currentPerson?.hp < -9}" class="happenessPoints">{{currentPerson?.hp}}</span>
      <ion-fab (click)="plus()">
        <button ion-fab>
          <ion-icon class="happenessPoints" ios="ios-add" md="md-add"></ion-icon>
        </button>
      </ion-fab>
    </div>
  </div>

</ion-content>