page-home {
  .h1 {
    text-align: center;
    padding-top: 30px;
  }
  .h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 70px;
    width: 100%;
  }
}
