<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <button (click)="currentPersonChange($event, person)" ion-item *ngFor="let person of list">
      <span>{{ person?.name }}</span> <span>{{ person?.age }}</span>
    </button>
  </ion-list>

  <div class="btn-wrapper">
    <button ion-button (click)="sortage($event)">Sort age</button>
    <button ion-button (click)="sortname($event)">Sort name</button>
  </div>

  <div *ngIf="currentPerson">
    <div class>
      <span class="happeness">Szczęśćie</span>
      <span class="happeness">{{currentPerson?.name}}</span>
    </div>

    <div class="happenessPointsMain">
      <ion-fab (click)="minus()">
        <button ion-fab>
          <ion-icon class="happenessPoints" ios="ios-remove" md="md-remove">
          </ion-icon>
        </button>
      </ion-fab>
      <span class="happenessPoints">{{currentPerson?.hp}}</span>
      <ion-fab (click)="plus()">
        <button ion-fab>
          <ion-icon class="happenessPoints" ios="ios-add" md="md-add"></ion-icon>
        </button>
      </ion-fab>
    </div>
  </div>

</ion-content>