page-new {
  .reload {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: gray;
    text-justify: auto;
    font-size: 12px;
  }

  .BlackScreen {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
