page-new {
  .ios-refresh {
    display: flex;
    flex-direction: column;
    font-size: 300px;
    height: auto;
    width: 100%;
    text-align: center;
  }
  .reload {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-justify: auto;
    font-size: 12px;
  }

  .BlackScreen {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
